/* color: # f4511e;   -- rgb(244,81,30) */
/* theme 1 - #D2593F Brown */
/* theme 2 - #EEA090 Pastel*/
/* theme 3 - #284B9F Blue */
/* theme 4 - #f4511e Orange */
/* theme 5 - #F63E87 Pink */

  body {
      background-image: url("../image/gray-paper-1.png");
	  font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181; 
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {
      background-color: #26a68e; 
      color: #fff;
      padding: 50px 25px;
      font-family: Montserrat, sans-serif;
  }
  .playground {
	  /* background-image: url("../image/gray-paper-2.png"); */
      /* color: #fff; */
      padding: 55px 25px;
      font-family: Montserrat, sans-serif;
  }
svg{
  max-height:830px; /* chrome needs it  */
} 
  
  .hidSil {
	stroke: #26a68e;
	stroke-width: 1;
	fill: #26a68e;  
  }
  .showSil {
	stroke: #818181;
	stroke-width: 1;
	fill: #26a68e;  
  }
  .hidTan {
	stroke: none;
	stroke-width: 0;
	fill: none;  
  }
  .showTan {
	stroke-width: 1;
	fill: #26a68e;  
  }
  
  .container-fluid {
      padding: 60px 50px;
  }
  .container-head {
      padding: 60px 20px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #26a68e;
      font-size: 50px;
  }
  .logo {
      color: #ffffff;
	  font-size: 200px;
	  text-shadow: 5px 5px 8px grey;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #26A68E;
  }
  .carousel-indicators {
      bottom: 0px;
  }
  .carousel-indicators li {
      border-color: #26A68E;
  }
  .carousel-indicators li.active {
      background-color: #26A68E;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #26A68E;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #26A68E;
      background-color: #fff !important;
      color: #26A68E;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #26A68E !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #26A68E;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #26A68E;
	  z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
	  background: rgba(38,166,42);	
	  /* background: rgba(38,166,42,0.7); */
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
	  font-size: 18px !important;
	  text-shadow: 3px 3px 8px gray;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #26A68E !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #26A68E;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  
  .modal {
	  top:5%;
	  margin: 35px;
  }
  
  .modal-header {
	background-color: #26A68E;
  }
  
.scrollable-menu {
    height: auto;
    max-height: 440px;
    overflow-x: hidden;
}
	.scrollable-menu::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 4px;        
    }    
    .scrollable-menu::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: lightgray;
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
    }
}

#silName {
	font-size: 40px;
	text-shadow: 5px 5px 8px grey;
  }
  
.social {
      color: #26A68E;
  }