/* theme 3 - #3399CC Blue */

  .jumbotron {
      background-color: #3399CC; 
  }  
  .hidSil {
	stroke: #3399CC;
	fill: #3399CC;  
  }
  .showSil {
	stroke: black;
	fill: #3399CC;  
  }
  .showTan {
	fill: #3399CC;  
  }
  .logo-small {
      color: #3399CC;
  }
  .carousel-control.right, .carousel-control.left {
      color: #3399CC;
  }
  .carousel-indicators li {
      border-color: #3399CC;
  }
  .carousel-indicators li.active {
      background-color: #3399CC;
  }
  .panel {
      border: 1px solid #3399CC;
  }
  .panel-footer .btn:hover {
      border: 1px solid #3399CC;
      color: #3399CC;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #3399CC !important;
  }
  .panel-footer .btn {
      background-color: #3399CC;
  }
  .navbar {
      background-color: #3399CC;
	  background: rgba(51,153,204,0.9);
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #3399CC !important;
  }
  footer .glyphicon {
      color: #3399CC;
  }
  .modal-header {
	background-color: #3399CC;
  } 
.social {
      color: #3399CC;
  }